In [5]:
library(repr)
library(tidyverse)
library(tidymodels)
options(repr.matrix.max.rows = 6)
source('tests.R')
source("cleanup.R")

Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'tests.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [6]:
diabetes_data <- read.csv("diabetes.csv")
diabetes_data

    Pregnancies Glucose BloodPressure SkinThickness Insulin BMI
1   6           148     72            35            0       33.6
2   1            85     66            29            0       26.6
3   8           183     64             0            0       23.3
⋮   ⋮           ⋮       ⋮             ⋮             ⋮       ⋮
766 5           121     72            23            112     26.2
767 1           126     60             0              0     30.1
768 1            93     70            31              0     30.4
    DiabetesPedigreeFunction Age Outcome
1   0.627                    50  1
2   0.351                    31  0
3   0.672                    32  1
⋮   ⋮                        ⋮   ⋮
766 0.245                    30  0
767 0.349                    47  1
768 0.315                    23  0

In [7]:
diabetes_data$Patient_number <- seq.int(nrow(diabetes_data)) 

diabetes_select <- select(diabetes_data, Patient_number, Glucose, Insulin, Outcome)
diabetes_select

    Patient_number Glucose Insulin Outcome
1   1              148     0       1
2   2               85     0       0
3   3              183     0       1
⋮   ⋮              ⋮       ⋮       ⋮
766 766            121     112     0
767 767            126       0     1
768 768             93       0     0

In [17]:
diabetes_select <- mutate(diabetes_select, Outcome=as_factor(Outcome))
diabetes_split <- initial_split(diabetes_select, prop = 0.75, strata = Outcome)  
diabetes_train <- training(diabetes_split)   
diabetes_test <- testing(diabetes_split)

    Patient_number Glucose Insulin Outcome
2   2               85      0      0
4   4               89     94      0
6   6              116      0      0
⋮   ⋮              ⋮       ⋮       ⋮
756 756            128     110     1
760 760            190       0     1
767 767            126       0     1

    Patient_number Glucose Insulin Outcome
3   3              183       0     1
5   5              137     168     1
8   8              115       0     0
⋮   ⋮              ⋮       ⋮       ⋮
764 764            101     180     0
766 766            121     112     0
768 768             93       0     0